@{
    ViewData["Title"] = "Home Page";
}

<environment include="Development">
    <h1>Now you are in Development environment</h1>
</environment>
<environment include="Staging">
    <h1>Now you are in Staging environment</h1>
</environment>
<environment include="Production">
    <h1>Now you are in Production environment</h1>
</environment>
<environment include="Alpha">
    <h1>Now you are in Alpha environment</h1>
</environment>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
